@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

html {
    --light-primary: #ffffff;
    --light-primary: #dfe3e9;
    --light-primary: #e9eaed;
    --light-primary: #e6e5ea;
    --light-primary: #e4e8f1;
    --light-secondary: rgba(199, 205, 209, 0.3);
    --light-secondary: #ffffff;
    --dark-primary: #0c1018;
    --dark-secondary: #253341;
    --accent-color: #1da1f2;
}

html[data-theme="dark"] {
    --light-primary: #0c1018;
    --light-secondary: #253341;
    --light-secondary: rgba(255, 255, 255, 0.05);
    --dark-primary: #ffffff;
    --dark-secondary: rgba(199, 205, 209, 0.3);
    --accent-color: #1da1f2;
}

$lightPrimary: var(--light-primary);
$lightSecondary: var(--light-secondary);
$darkPrimary: var(--dark-primary);
$darkSecondary: var(--dark-secondary);
$accent: var(--accent-color);

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    color: $darkPrimary;
    background: $lightPrimary;
    @include setDimensions(100vh, 100vw);
    font-family: "Montserrat", sans-serif;

    @include flex(row);
    justify-content: space-between;

    .menu {
        @include setDimensions(100%, 20%);
    }

    .content {
        @include setDimensions(100%, 80%);
        @include flex(column);
        justify-content: space-around;
        align-items: center;
    }

    .container {
        border-radius: 0.7vw;
        background-color: $lightSecondary;
    }

    .active {
        color: $accent;
    }

    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    border: 0;
    margin: 0;
    text-overflow: clip;
    overflow: hidden;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 1.5vw;
    font-weight: 600;
}

h3 {
    font-size: 1.5vw;
    font-weight: 500;
}

p {
    font-size: 1vw;
}

::-webkit-scrollbar-track {
    height: 10px;
    border-radius: 1vw;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    height: 10px;
    background-color: $lightPrimary;
}

::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background-color: $accent;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
